@import url(normalize.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

body
{
	height:2000px;
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}
ul, li, a, h1, h3, h4, p
{
	margin: 0;
	padding: 0;
	list-style: none;
}
.no_opacity
{
  opacity: 0;
  -moz-opacity: 0; 
  -khtml-opacity: 0; 
  filter: alpha(opacity=0);   
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.Header
{
	width: 100%;
	height: 300px;
	position: relative;
	overflow: hidden;
}
.HeaderContent
{
	position: absolute;
	z-index: 5;
	bottom: 13%;
	left: 20%; 
	right: 20%;  
}
.HeaderTitle
{
	font-size: 2em;
	line-height: 1.1em;
	color: #fff;
	text-align: center;
	transition:1s;
	text-shadow: 1px 1px 2px rgba(2, 2, 2, 1);
}
.HeaderSubtitle
{
	font-size: 1.2em;
	font-weight: 300;
	line-height: 0.5em;
	margin-top: 2em;
	color: #fff;
	text-align: center;
	transition:1s;
	text-shadow: 1px 1px 2px rgba(2, 2, 2, 1);	
}
.HeaderSubtitle .link
{
	color: #df9f30;
	text-decoration: none;
}
.HeaderGradient 
{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 4;
}
.HeaderGradient .top
{
	width: 100%;
	height: 100px;
	top: 0;
	position: absolute;
	background: url(images/HeaderTopGradient.png);
}
.HeaderGradient .solid
{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.2;
}
.HeaderGradient .bottom
{
	width: 100%;
	height: 500px;
	position: absolute;
	bottom: 0;
	background: url(images/HeaderBottomGradient.png) 0% 100% repeat-x;
}
.HeaderImage 
{
	width: 100%;
	height: 100%;
	top: 0; 
	left: 0;
	z-index: 2;	
	position: absolute;
	background: 50% 50% no-repeat;
	background-size: cover;
} 
.HeaderBlurImage 
{	
	width: 100%;
	height: 100%;
	top: 0; 
	left: 0;
	z-index: 3;	
	position: absolute;
	overflow: hidden; 
}
.HeaderBlurImage div
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
/*	filter: blur(15px); 
	-o-filter: blur(15px);
	-ms-filter: blur(15px);
	-moz-filter: blur(15px);
	-webkit-filter: blur(15px);*/
	background: 50% 50% no-repeat;
	background-size: cover;
}

@media all and (min-width: 1000px){

	.Header
	{
		width: 100%;
		height: 100vh;
		position: relative;
		overflow: hidden;
	}
	.HeaderContent
	{
		width: 700px; 
		position: absolute;
		z-index: 5;
		bottom: 13%;
		left: 50%; 
		margin-left: -350px; 
	}
	.HeaderTitle
	{
		font-size: 4em;
		line-height: 1.1em;
		color: #fff;
		text-align: center;
		transition:1s;
		text-shadow: 1px 1px 2px rgba(2, 2, 2, 1);
	}
}




